<div class="container">
    <div class="row mt-4">
        <div class="col-md-6 ml-auto mr-auto">
            <table class="table mx-auto">
                <thead class="bg-secondary">
                    <th>Playlists</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let playlist of playLists">
                        <td>{{playlist.Titulo}}</td>
                        <td class="text-center"><button [routerLink]="['/playlist',playlist.playList]" class="btn btn-dark">Ver</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- <div class="card-deck mt-4"> -->
    <!--     <div class="card" *ngFor="let playlist of playLists; let i=index"> -->
    <!--       <img [src]="thumbnails[i]" class="card-img-top"> -->
    <!--       <div class="card-body"> -->
    <!--         <h5 class="card-title">{{playlist.Titulo}}</h5> -->
    <!--         <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>             -->
    <!--       </div> -->
    <!--     </div> -->
    <!-- </div> -->
</div>


<div class="container">
    
    
    
    
    
    
    
    
    
    
</div>